#content {
    padding: 30px 0 100px;
}

.section {
    margin-bottom: 20px;
}

.section-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.business-card p.name {
    padding-top: 5px;
    font-size: 17px;
}

.business-card p i {
    margin-right: 5px;
}

.business-card p {
    margin-left: 135px;
    width: 400px;
}
.business-card {
    font-size: 10px;
}

.business-card img {
    width: 100px;
    float: left;
}

.highlights ol {
    margin-left: 20px;
}

.highlights p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlights li {
    margin-bottom: 5px;
}

.highlights ul {
    margin-left: 20px;
}

.trainer ul li {
    margin-bottom: 5px;
}

.two-panes {
    margin: 20px 20px 0 0;
    overflow: auto
}

.first-pane {
    float: left
}

.second-pane {
    margin-left: 150px;
    width: 700px;
}

.profile-pic img {
    display: block;
    width:100px;
}

.profile-desc li {
    margin-bottom: 10px;
}

.profile .name {
    text-align: center;
    font-size: 15px;
    margin-top:5px;
}

.profile .qualification {
    margin-top: 5px;
    width: 100px;
    text-align: center;
    font-size: 10px;
}


.duration p {
    margin-bottom: 10px;

}
.duration ul {
    margin-left: 20px;
}
