* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #f0f0f0;
    font-family:  sans-serif;
}

h1 {
    font-family: MuseoSlab-500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

#menu {
    font-family: MuseoSlab-500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    right: 0;
    left: 0;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom,#222,#111);
    border-color: #252525;
    background-repeat: repeat-x;
    background-color: #1b1b1b;
    height: 35px;
    text-align: center;
    z-index: 2000;
}

#menu li.brand {
    margin-top: 5px;
}
#menu ul {
    margin: 0 auto;
    width: 780px;
}

#menu ul li {
    margin-top: 8px;
    margin-right: 25px;
}

#menu a{
    color: #9B0;
}

#menu li.brand {
    font-size: 20px;
}

#menu li.brand a {
    color: #ffffff;
}

#menu a:hover, #menu .active a {
    color: #ffffff;
}

#menu li {
    float: left;
    list-style: none;
}

footer {
    font-family: MuseoSlab-500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #9d261d;
    border-bottom: 1px solid #721c15;
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    color: #fff;
}

footer {
    padding: 90px 0 300px;
}

footer .container  {
    margin: 0 auto;
    width: 500px;
    text-align: left;
}

footer .details {
    margin-left: 5px;
    margin-top: 20px;
}

footer .details p {
    margin-bottom: 8px;

}
footer .details a, footer .details span {
    color: white;
    margin-left: 5px;

}

footer a.uservoice {
    text-decoration: underline;
}

#contact-us {
    margin-top: 50px;
    min-height: 100px;
}

#content {
    width: 986px;
    margin: 0 auto;
    z-index: 10;
}

#content h1 {
    margin: 20px 0 20px 0;
    font-size: 30px;
    background-color: #333333;
    line-height: 50px;
    text-indent: 10px;
    color: whitesmoke;
    z-index: 10;
}


